<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="groupAddress" value="235.5.5.11"/>
		<add key ="LocalPort" value="8002"/>
		<add key ="RemotePort" value="8001"/>
		<add key ="TTL" value="32"/>
	</appSettings>
</configuration>